<div class="posts_list_container">
	<div class="posts_list_header">
		<h4 class="posts_list_header_desc">{{ list_title }}</h4>
	</div>
	<ul class="posts_list">
		<li class="attr_item" ng-repeat="catagory in catagories">
			<p>{{ catagory.name }}</p>
			<ul>
				<li class="post_item" ng-repeat="post in posts | filter: { catogory_id: catagory.id }:true">
					<a href="">{{post.title}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="post_container">
	<form class="form" action="" role="form">
		<div class="form-group">
			<input id="post_title" class="form-control" type="" ng-model="title">
			<input id="post_tags" class="form-control" type="" ng-model="tags">
			<textarea id="post_content" class="form-control" name="" cols="30" rows="10" ng-model="content"></textarea>
			<button class="btn btn-primary" ng-click="submitPost()">提交</button>
		</div>
	</form>
</div>
